/* .resistor {
	text-underline-offset: 0.25em;
	height: 2.5em;
}
.resistor .band {
	height: 3em;
	display: inline-block;
	width: 1.25em;
} */

.resistor .band-black {
	color: black;
	background-color: black;
}
.resistor .band-brown {
	color: brown;
	background-color: brown;
}

.resistor .band-red {
	color: red;
	background-color: red;
}

.resistor .band-orange {
	color: orange;
	background-color: orange;
}

.resistor .band-yellow {
	color: yellow;
	background-color: yellow;
}

.resistor .band-green {
	color: green;
	background-color: green;
}

.resistor .band-blue {
	color: blue;
	background-color: blue;
}

.resistor .band-violet {
	color: violet;
	background-color: violet;
}

.resistor .band-gray {
	color: gray;
	background-color: gray;
}

.resistor .band-white {
	color: white;
	background-color: white;
}

.resistor .band-gold {
	color: gold;
	background-color: gold;
}

.resistor .band-silver {
	color: silver;
	background-color: silver;
}
